body {
    background: rgb(245, 240, 240);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.col-3 {
    border-right: 2px solid darkgray;
    height: calc(100vh - 50px);
    align-content: center;
}

div.container {
    margin: 25px;
    height:100vh;
}

div.col-9 {
    padding-left: 25px;
    align-content: center;
    
}

input {
    border-radius:5px;
    border-color:darkgray;
}

.error {
    color: red;
}

div.hazy {
    margin: 0;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

div.white-overlay {
    background-color: white;
    border-radius: 25px;
    margin: 20% auto;
    width: 60vw;
    height: 60vh;
    align-self: center;
}


.white-overlay > div {
    padding-top: 1em;
}

.white-overlay > p {
    margin: 0;
}